# Kickstarter

Este notebook permite importar rápidamente los datos del proyecto Kickstarter a una sesión de Google Colab para trabajar con los mismos.

In [ ]:
!git clone https://github.com/JuanCruzC97/p02-kickstarter.git &> /dev/null

In [ ]:

cd p02-kickstarter

## Importamos módulos

In [1]:
import numpy as np
import pandas as pd

## Importamos el dataset

Podemos importar tanto el set de datos de entrenamiento `train`. Los mismos tienen disponibles tanto las variables explicativas como las variables respuesta. El formato del archivo es un `tsv`, los valores están separados por tabulaciones.

In [4]:
train = pd.read_csv("data/train.tsv", sep="\t", index_col=0)
train

,fecha_inicial,fecha_final,pais,ciudad,descripcion_largo,descripcion_full_largo,titulo_largo,cant_creaciones_dueño,cant_faqs,cant_imagenes,...,moneda,objetivo_monto,title,tiers,cotizacion,id,monto_obtenido,monto_obtenido_porcentaje,estado,exito
0,2019-04-01,2019-05-01,Spain,España,119,3555,59,1,6,37,...,EUR,44821.400,Luxury & Urban Watch Collections with Swiss he...,"1,110,210,410,100,195,390",1.120535,3075,4131.412545,0.0922,Funding Unsuccessful,fail
1,2019-03-29,2019-04-26,United States,Newnan,128,1211,22,1,0,1,...,USD,51250.000,Lasting Legacy Project,50,1.000000,3473,2.000000,0.0000,Funding Unsuccessful,fail
2,2019-03-12,2019-04-19,France,France,19,4524,20,1,0,21,...,EUR,10157.625,Blanchard's new book,"55,150,180,280,500,1000,4500,45",1.128625,4228,11263.677500,1.1089,Funding Successful,success
3,2019-04-12,2019-04-21,United Kingdom,Brighton and Hove City,41,896,17,1,0,3,...,GBP,130.830,STEAMBONES WILLIE,"3,11,35,45,5,6",1.308300,4272,1596.126000,12.2000,Funding Successful,success
4,2019-04-01,2019-05-01,United States,Blacksburg,94,4268,38,1,0,1,...,USD,2200.000,SILBERSENZE Sensory Self Portrait© kit,"5,29,29",1.000000,3109,30.000000,0.0136,Funding Unsuccessful,fail
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6061,2018-12-18,2019-02-16,United States,Cambridge,60,0,14,1,0,30,...,USD,10000.000,LOOks Backpack,"39,45,55,79",1.000000,1685,409.000000,0.0409,Funding Unsuccessful,fail
6062,2019-02-24,2019-03-26,United States,Norfolk,126,3311,54,1,0,2,...,USD,3000.000,Forbidden Shadows: A Young Adult Science Ficti...,"1,10,25,50,100,250,500",1.000000,6333,708.000000,0.2360,Funding Unsuccessful,fail
6063,2019-02-12,2019-02-27,United States,Portland,135,2260,12,1,0,10,...,USD,6480.000,Action Pups!,"20,28,45,110",1.000000,1152,7273.000000,1.1224,Funding Successful,success
6064,2019-02-23,2019-04-24,United States,Connersville,120,1256,24,1,0,1,...,USD,2500.000,Beard Coach Co. Start-up,"1,15,50,250",1.000000,3735,256.000000,0.1024,Funding Unsuccessful,fail
6065,2019-03-12,2019-04-11,Singapore,Singapore,134,222,14,1,0,13,...,USD,500.000,Pokemon Charms,"2,14,28,40,54,68,110,144,168",1.000000,5115,2258.000000,4.5160,Funding Successful,success